@model ProiectMDS.Models.ProductCommentViewModel

@{
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = ratingSum / ratingCount;
    }
    var totalRating = decimal.Parse(rating.ToString("0.00"));
}

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Product.ImageUrl" class="img-fluid" alt="@Model.Product.Title" height="500" width="500" style="margin-top: 100px;" />
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Model.Product.Title</h3>
                    <div class="card-text">@Html.Raw(Model.Product.Description)</div>
                    @if ((ViewBag.AfisareButoane == true && Model.Product.UserId == ViewBag.UserCurent) || ViewBag.EsteAdmin == true)
                    {
                        <div class="d-flex flex-row justify-content-between">
                            <a class="btn btn-success" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Product.Id">Editeaza produs</a>
                            <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Product.Id">
                                <button class="btn btn-danger" type="submit">Sterge produs</button>
                            </form>
                        </div>
                    }

                    @if (@Model.Product.Stock > 0)
                    {
                        <div>In stoc(@Model.Product.Stock)</div>
                        <input type="hidden" value="@Model.Product.Id" />
                        <div class="d-flex justify-content-center">
                            <a asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@Model.Product.Id" class="btn btn-primary">
                                <button class="button-cart">
                                    Adauga in cos
                                    <svg class="cartIcon" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
                                </button>
                            </a>
                        </div>
                        <form asp-controller="Favorite" asp-action="AddToFavorites" asp-route-id="@Model.Product.Id" method="post" style="display:inline;">
                            <!-- From Uiverse.io by LilaRest -->
                            <button button type="submit" class="btn-fav">
                                <svg height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V24H0z" fill="none"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path></svg>
                            </button>
                        </form>

                    }
                    else
                    {
                        <div>Indisponibil</div>
                    }
                </div>
            </div>

            <br />
            <div>
                <h3>Rating: @totalRating (@ratingCount)</h3>
            </div>

            @* Afisare comentarii impreuna cu butoanele de editare si stergere *@
            <div class="container">
                <div class="row">
                    @foreach (var comm in Model.ListOfComments)
                    {
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div>
                                @for (var i = 1; i <= comm.Rating; i++)
                                {
                                    <span class="starGlowN"></span>
                                }
                                @for (var i = comm.Rating + 1; i <= 5; i++)
                                {
                                    <span class="starFadeN"></span>
                                }
                                <p>@comm.Content</p>
                                <small>@comm.Date</small>
                                <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>
                            </div>
                            <br>
                            @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin == true)
                            {
                                <div class="d-flex">
                                    <div>
                                        <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                            <i class="bi bi-pencil-square"></i> Editeaza
                                        </a>
                                    </div>
                                    <div>
                                        <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">
                                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                                        </form>
                                    </div>
                                </div>
                            }
                            <br />
                        </div>
                        <div class="col-md-2"></div>
                    }
                </div>
            </div>
            <partial name="_CommentBox" />
        </div>
    </div>
</div>


<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function () {
        SCRate();
    });
</script>